.editbody{
    /* border:2px solid black; */
    width:500px;
    margin-top:50px;
    margin-left: 400Px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}